.body_draw01 {
    overflow: hidden;
    background: url(../imgs/draw/求籤bg.png);
    text-align:center;
    color: var(--color-brown-dark);
}

.youcantseeme{
    width: 100px;
    height: 100px;
    /* border: 1px salmon solid; */
    transform: translateX(-900px);
}

.drawSection01 {
    width: 100%;
    height: calc(100vh - 100px);
}

.sound-icon {
    /* border: 1px salmon solid; */
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sound-wave {
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sound-wave .bar {
    display: block;
    width: 5px;
    margin-right: 1px;
    height: 90px;
    background: var(--color-orange);
    animation: sound 0ms -800ms linear infinite alternate;
    transition: height 0.8s;
    border-radius: 8px;
}

@keyframes sound {
    0% {
        opacity: .35;
        height: 6px;
    }

    100% {
        opacity: 1;
        height: 46px;
    }
}

.bar:nth-child(1) {
    height: 2px;
    animation-duration: 474ms;
}

.bar:nth-child(2) {
    height: 10px;
    animation-duration: 433ms;
}

.bar:nth-child(3) {
    height: 18px;
    animation-duration: 407ms;
}

.bar:nth-child(4) {
    height: 26px;
    animation-duration: 458ms;
}

.bar:nth-child(5) {
    height: 30px;
    animation-duration: 400ms;
}

.bar:nth-child(6) {
    height: 32px;
    animation-duration: 427ms;
}

.bar:nth-child(7) {
    height: 34px;
    animation-duration: 441ms;
}

.bar:nth-child(8) {
    height: 36px;
    animation-duration: 419ms;
}

.bar:nth-child(9) {
    height: 40px;
    animation-duration: 487ms;
}

.bar:nth-child(10) {
    height: 46px;
    animation-duration: 442ms;
}

.bar:nth-child(11) {
    height: 2px;
    animation-duration: 474ms;
}

.bar:nth-child(12) {
    height: 10px;
    animation-duration: 433ms;
}

.bar:nth-child(13) {
    height: 18px;
    animation-duration: 407ms;
}

.bar:nth-child(14) {
    height: 26px;
    animation-duration: 458ms;
}

.bar:nth-child(15) {
    height: 30px;
    animation-duration: 400ms;
}

.bar:nth-child(16) {
    height: 32px;
    animation-duration: 427ms;
}

.bar:nth-child(17) {
    height: 34px;
    animation-duration: 441ms;
}

.bar:nth-child(18) {
    height: 36px;
    animation-duration: 419ms;
}

.bar:nth-child(19) {
    height: 40px;
    animation-duration: 487ms;
}

.bar:nth-child(20) {
    height: 46px;
    animation-duration: 442ms;
}

.drawSection01 h1{
    margin-top: 60px;
    color: var(--color-brown-dark);
}

.drawSection01 h4{
    margin-top: 40px;
    color: var(--color-brown-dark);
}

.drawSection01 h5{
    margin-top: 8px;
    color: var(--color-text60);
}

.musicBlack{
    /* border: 1px salmon solid; */
    margin-top: -100px;
    transform: scale(.5);
}

.onOff h1{
    color: white;
    margin: 0;
}

.musicOn, .musicOff{
    transition: .2s;
    color: white;
    width: 144px;
    height: 144px;
    border-radius: 50%;
    background-color: var(--color-orange);
    margin: 20px;
}

.musicOn:hover, .musicOff:hover{
    outline: 5px rgba(250, 128, 114, 0.757) solid;
    
}

/*------------------ draw02 ----------------*/

.drawSection02 h1{
    margin-top: 60px;
    color: var(--color-brown-dark);
}

.drawSection02 .row{
    margin-top:12px ;
    /* top: 48px; */
}

.selectCatFunction svg{
    margin-top: -32px;
}

.selectCatFunction img{
    margin-top: -48px;
    transform: scale(.8);
}

.selectCatFunction .btn-l{
    height: 56px;
    width: 280px;
    margin-top: 40px;
}

.catDialogue1{
    text-align: left;
    width: 248px;
    height: 96px;
    top: 400px;
    left: 50%;
    transform: translateX(-50%);
}

.catDialogue2{
    text-align: left;
    width: 248px;
    height: 96px;
    top: 428px;
    left: 50%;
    transform: translateX(-50%);
}

.catDialogue3{
    text-align: left;
    width: 248px;
    height: 96px;
    top: 456px;
    left: 50%;
    transform: translateX(-50%);
}

.backto{
    top: 17px;
    left: 384px;
}

.musicSwitch{
    top: 10px;
    right: 384px;
}

.secretSection02LeftCat{
    transition: .3s;
    transform-origin: center center;
    overflow: hidden;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
}

.secretSection02MidCat{
    transition: .3s;
    transform-origin: center center;
    overflow: hidden;
    top: 197px;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
}

.secretSection02RightCat{
    transition: .3s;
    transform-origin: center center;
    overflow: hidden;
    top: 215px;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
}

.drawSection02 a{
    color: var(--color-brown-dark);
    text-decoration: none;
}

/*------------------ draw03 ----------------*/

.drawSection03 h1{
    margin-top: 60px;
    color: var(--color-brown-dark);
}

.drawSection03 h2{
    line-height: 20%;
}

.drawSection03 img{
    transform: scale(0.7);
}

.temple01Img{
    width: 350px;
    height: 350px;
    text-align : center;
}

.temple01Img{
    transform: translateY(20px);
}

.temple05Img{
    transform: translateY(20px);
}

.row{
    margin-top: -50px;
}

.drawSection03 a{
    color: var(--color-brown-dark);
    text-decoration: none;
}

.body_draw04 {
    overflow: hidden;
    background: url(../imgs/draw/求籤bgblack.png);
    text-align:center;
    color: white;
}

/*------------------ draw04 ----------------*/

.drawSection04 h1{
    margin-top: 60px;
    padding-top: 120px;
    color: var(--color-white);
}

.drawSection04 h5{
    margin-top: 56px;
    color: var(--color-white);
}

.drawSection04 .btn-xl {
    width: 560px;
    height: 76px;
    border: var(--color-brown-dark) 2px solid;
    border-radius: 8px;
    transition: .3s;
    margin: 96px auto ;
    background-color: var(--color-yellow);
    text-align: center;
}

.btn-xl:hover {
    box-shadow: 2px 2px 0px var(--color-brown-dark);
}
/*------------------ draw05 ----------------*/

.drawSection05 h1{
    margin-top: 60px;
    padding-top: 160px;
    color: var(--color-white);
}

.drawSection05 .notbtn{
    margin-top: 0px;
    color: #6F6F6F;
}

.drawSection05 .container h5{
    margin-top: 56px;
    color: var(--color-white);
}

.drawSection05 .stepCircleActive h5{
    margin: 0;
    color: var(--color-white);
}

.drawSection05 .stepCircle h5{
    margin: 0;
    color: var(--color-text60);
}

.drawSection05 .stepActive h5{
    color: var(--color-white);
}
.drawSection05 .stepUnActive h5{
    color: #6F6F6F;
}

.drawSection05 .btn-xl {
    width: 560px;
    height: 76px;
    border: var(--color-brown-dark) 2px solid;
    border-radius: 8px;
    transition: .3s;
    margin: 96px auto ;
    background-color: var(--color-yellow);
    text-align: center;
}

.step_ba{
    width: 850px;
    height: 56px;
    left: 50%;
    transform: translateX(-50%);
}

.stepCircleActive{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-yellow);
}

.stepCircle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(229, 167, 42, 0.3);
}

.stepline_ba{
    width: 80px;
    height: 2px;
    background-color: #6F6F6F;
}

/*------------------ draw06 ----------------*/

.drawSection06 h1{
    margin-top: 60px;
    padding-top: 160px;
    color: var(--color-brown-dark);
}

.drawSection06 h5{
    margin-top: 56px;
    color: var(--color-brown-dark);
}

.drawSection06 .btn-xl {
    width: 560px;
    height: 76px;
    border: var(--color-brown-dark) 2px solid;
    border-radius: 8px;
    transition: .3s;
    margin: 96px auto ;
    background-color: var(--color-yellow);
    text-align: center;
}

.drawSection06 .stepCircleActive h5{
    margin: 0;
    color: var(--color-white);
}

.drawSection06 .stepCircle h5{
    margin: 0;
    color: var(--color-text60);
}

.drawSection06 .stepActive h5{
    color: var(--color-brown-dark);
}
.drawSection06 .stepUnActive h5{
    color: var(--color-text60);
}

.drawSection06 .btn-xl {
    width: 560px;
    height: 76px;
    border: var(--color-brown-dark) 2px solid;
    border-radius: 8px;
    transition: .3s;
    margin: 96px auto ;
    background-color: var(--color-yellow);
    text-align: center;
}

/*------------------ draw07 ----------------*/

.drawSection07 h1{
    margin-top: 60px;
    padding-top: 60px;
    color: var(--color-brown-dark);
}


.multipleChoice{
    color:var(--color-text60) ;
}
/* .drawSection04 h5{
    margin-top: 56px;
    color: var(--color-white);
} */

/* .drawSection04 .btn-xl {
    width: 560px;
    height: 76px;
    border: var(--color-brown-dark) 2px solid;
    border-radius: 8px;
    transition: .3s;
    margin: 96px auto ;
    background-color: var(--color-yellow);
    text-align: center;
} */

/* .eyes_ba{
    top: 41%;
    left: 50%;
    transform: translateX(-94px);
    width: 180px;
    height: 50px;
    
} */
/* 
.eye_ba{
    border: 6.5px black solid;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
} */
/* 
.eye_ba::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
} */

/* .lefteye{
    top: 0;
    left: 0;
}

.righteye{
    top: 10;
    left: 10;
}

.eye-white {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 80px;
    height: 80px;
    background-color: #fafffb;
    border-radius: 50%;
    border: 6.5px solid black;
}
.eye-black {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
} */

.drawSection07Cat{
    box-sizing:content-box ; 
}

.face {
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-color: #3ecc6c;
    border: 1px solid black;
}
.eye {
    position: absolute;
    left: 500px;
    top: 200px;
}
.eye-white {
    position: absolute;
    top: -42.5px;
    left: -42.5px;
    width: 85px;
    height: 85px;
    background-color: white;
    border-radius: 50%;
    border: 7px solid black;
}
.eye-black {
    position: absolute;
    top: -25px;
    left: -10px;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
}