#carousel {
    height: 35vw;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}
#carousel label {
    margin: auto;
    width: 800px;
    height: 700px;
    border-radius: 8px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform .4s ease;
    position: absolute;
}
.drawbox08 {
    width: 100% ;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.811);
    border-radius: 8px;
}
.catpicture08 {
    bottom: 10px;
    left: -110px;
}
.drawSection08 {
    margin-top: 60px;
}
.drawSection08 h1 {
    padding-top: 60px;
    color: var(--color-brown-dark);
}
#s1:checked ~ #slider4,
#s2:checked ~ #slider5,
#s3:checked ~ #slider1,
#s4:checked ~ #slider2,
#s5:checked ~ #slider3 {
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, .15);
    transform: translate3d(-30%, 0, -200px);
    backdrop-filter: blur(10px);

}
#s1:checked ~ #slider5,
#s2:checked ~ #slider1,
#s3:checked ~ #slider2,
#s4:checked ~ #slider3,
#s5:checked ~ #slider4 {
    /* box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .15), 0 2px 2px 0 rgba(0, 0, 0, .15); */
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, .15);
    transform: translate3d(-15%, 0, -100px);
    backdrop-filter: blur(10px);

}
#s1:checked ~ #slider1,
#s2:checked ~ #slider2,
#s3:checked ~ #slider3,
#s4:checked ~ #slider4,
#s5:checked ~ #slider5 {
    /* box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .15), 0 11px 7px 0 rgba(0, 0, 0, .15); */
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, .15);
    transform: translate3d(0, 0, 0);
    backdrop-filter: blur(10px);
}
#s1:checked ~ #slider2,
#s2:checked ~ #slider3,
#s3:checked ~ #slider4,
#s4:checked ~ #slider5,
#s5:checked ~ #slider1 {
    /* box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .15), 0 2px 2px 0 rgba(0, 0, 0, .15); */
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, .15);
    transform: translate3d(15%, 0, -100px);
    backdrop-filter: blur(10px);

}
#s1:checked ~ #slider3,
#s2:checked ~ #slider4,
#s3:checked ~ #slider5,
#s4:checked ~ #slider1,
#s5:checked ~ #slider2 {
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, .15);
    transform: translate3d(30%, 0, -200px);
    backdrop-filter: blur(10px);

}