body {
    font-family: 'Helvetica Neue';
    background: #e6d4ec;
    background: linear-gradient(to bottom, #e6d4ec 0%, #ffdddb 100%);
}

.top-nav {
    padding: 44px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #fff1f1;

    nav {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 980px;

        a {
            margin-right: 50px;
            font-size: 18px;
            font-weight: 700;
            color: #333;
            text-transform: uppercase;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        button {
            margin-left: auto;
            padding: 15px 40px;
            font-size: 18px;
            font-weight: 700;
            color: #fff1f1;
            background: #a8ecff;
            background: linear-gradient(#a8ecff, #7ee0fd);
            border: 0;
            border-radius: 30px;
            text-transform: uppercase;
            cursor: pointer;

            &:hover {
                background: #7ee0fd;
                background: linear-gradient(#7ee0fd, #a8ecff);
            }
        }
    }
}

.carousel {
    position: relative;
    margin: 200px auto;
    display: block;
    max-width: 1020px;

    &__container {
        margin: 0 auto 25px;
        display: block;
        perspective: 980px;
        position: relative;
        max-width: 780px;
        height: 420px;

        img {
            display: inline-block;
            width: 100%;
            max-width: 780px;
            max-height: 420px;
            position: absolute;
            backface-visibility: hidden;
            border-radius: 20px;
            box-shadow: -1px 2px 17px 3px rgba(0, 0, 0, 0.3);
            opacity: 0.4;
            transition: 0.4s all;
            cursor: pointer;

            &.carousel__container--active {
                z-index: 4;
                opacity: 1;
            }

            &:hover:not(.carousel__container--active) {
                opacity: 0.9;
            }
        }
    }

    &__arrow {
        top: 40%;
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background: #fff;
        text-decoration: none;
        opacity: 0.6;
        transition: 0.4s all;
        z-index: 4;

        &:before {
            top: 2px;
            left: 2px;
            content: '';
            display: inline-block;
            position: relative;
            width: 7px;
            height: 7px;
            transform: rotate(-45deg);
            border-style: solid;
            border-width: 4px 4px 0 0;
            vertical-align: top;
            color: #fbe1ea;
        }

        &--right {
            right: 0;

            &:before {
                top: 20px;
                left: 20px;
                transform: rotate(45deg);
            }
        }

        &--left:before {
            top: 20px;
            left: 20px;
            transform: rotate(-135deg);
        }

        &:hover {
            opacity: 1;
        }
    }

    &__dot-nav {
        text-align: center;

        li {
            margin: 0 5px;
            display: inline-block;
            width: 10px;
            height: 10px;
            border: 3px solid #fff;
            border-radius: 100%;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
            cursor: pointer;
            transition: 0.4s all;

            &:hover {
                background-color: #fff;
            }
        }

        &--active {
            background-color: #fff;
        }
    }
}