* {
  outline: 1px solid black;
}

.body_lb {
  /* background-color: var(--color-lightcreamy); */
  background-image: url(./imgs/culture/RV-Culture-desktop-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.section1_lb{
  margin-top: 700px;
}
.section1-content_lb{
  margin-top: 200px
}
.section1-content2_lb{
  margin-top: 157px;
}
.title_lb {
  color: var(--color-text100);
  
}

.section1-cat1_lb{
    width: 150px;
    bottom: 5px;
    left: 150px;
}
.cloud_left_lb{
    bottom: -20px;
}



.top-content_lb {
  color: var(--color-text87);
  margin: auto 0;
}
/* .about_lb {
  color: var(--color-orange);
} */
.bottom-content_lb {
  color: var(--color-text87);
  margin: auto 0;
}

.cloud_right_lb {
width: 300px;
  right: 0px;
  bottom: 50px;
}
.section1-cat2_lb {
  width: 150px;
  right: 300px;
  bottom:-20px;

}


/* 參拜流程 */
.section2_lb{
  margin-top: 112px;
}
.s2-leftcloud_lb{
  width: 700px;
  left: -400px;
  top: 600px;
}
.s2-rightcloud_lb{
  width: 600px;
  left: 800px;
  bottom: 1300px;
}

.section2_lb h1{
  color: var(--color-text100);
}
.worship-card h3{
  color: var(--color-text100);
  color:  rgb(67, 42, 15, 1);
}
.worship-card p{
  color: var(--color-text87);
}
.worship-card{
  margin: 166px 0;
}

.img-wrap_lb{
  width: 300px;
  margin: 0 auto;
}
.heart-animation_lb{
  /* opacity: 0; */
  width: 100px;
  margin:0px auto;
  transition: 1s;
  /* animation: animationheart 4s 1s; */
}


.left-cat-animation_lb{
  width: 150px;
  transition: 2s;
  /* height: 300px; */
}
.right-cat-animation_lb{
  width: 200px;
  /* height: 300px; */
  transition: 2s;
}



/* 禁忌 */
.section3_lb{
  margin-top: 124px;

}
.section3_lb>h1{
color: var(--color-text100);
}
.ban-card>h4{
  color: var(--color-text100);
}
.ban-card>p{
  color:var(--color-text87);
}
/* 還願 */
.section4_lb{
  margin: 200px auto;
}
.devotion-title{
  width: 500px;
  margin: 0 auto;
  left: 300px;
  top: -80px;
}
.devotion-bg{
  margin: 0 auto;
}
.devo-content{
  color: var(--color-text87);
  bottom: 300px;
  left: 250px;
}
.cp-cat{
  width: 400px;
  right: -20px;
  bottom: -30px;
  
}

/* 月老廟地圖 */

.mapsvg_lb {
  height: 100vh;
}

.path_lb{
  fill: var(--color-yellow);
  /* stroke: rgb(255, 255, 255); */
  /* fill: transparent; */
  transition: 0.5s;
  cursor: pointer;
}
.north:hover {
  fill: var(--color-orange);
  /* transform: translate(-5px, -5px); */
}
.middle:hover {
  fill: var(--color-orange);
  transform: translate(-5px, -5px);
}
.south:hover {
  fill: var(--color-orange);
  transform: translate(-5px, -5px);
}
.map-wrap{
  /* padding-left:100px ; */
  /* margin: 0 auto; */
}

.select_lb{
  color: var(--color-brown-dark);
  width: 140px;
  height: 48px;
  outline: none;
  border-radius: 8px;
  border: 2px solid var(--color-brown-dark);
}
.select_lb:focus{
  box-shadow: 2px 2px #432A0F;
}

.templetag_lb{
  color: var(--color-orange);
}
.templename_lb{
  color: var(--color-text87);
}
.detail-info_lb{
 padding-top: 40px;
  color: var(--color-text87);
}


.detail-info_lb span{
  display: inline-block;
  position: relative;
}
.detail-info_lb span:before{
  content: "";
  position: absolute;
  top: 10%;
  left: -10px;
  background: var(--color-orange);
  width: 5px;
  height: 17px;
}

.tem-wrap_lb{
  border-radius: 8px;
  width: 300px;
  height: 170px;
  overflow: hidden;
}

.cardhead_lb{
  padding-bottom: 30px;
  border-bottom: 3px solid var(--color-text38) ;
}

.step_lb , .temnotice_lb{
  color: var(--color-text87);
  border: 1px solid var(--color-orange);
  border-radius: 50px;
  display: inline-block;

}
.steptext_lb, .temnoticetext_lb{
  color: var(--color-text87);
}

/* sidebar */
.sidebar_lb span{
  display: inline-block;
  position: relative;
}
.sidebar_lb span::before{
  content: "";
  position: absolute;
  top: 40%;
  left: -28px;
  background: var(--color-text38);
  width: 20px;
  height: 4px;
}

.sidebar_lb {
  position: fixed;
  top: 100px;
  right: 50px;
  /* z-index: 999; */
}
.sidebar_lb a {
  color: rgba(67, 42, 15, 0.6);
  text-decoration: none;
}
.sidebar_lb a.active_lb {
color: #CD562F;
}

/* 地圖地標 */
.landmark_lb{
  border-radius:8px;
  width: 120px;
  overflow: hidden;
}
.loation_lb{
  color: var(--color-white);
  background-color: var(--color-orange);
}
.temname_lb{
  color:var(--color-orange);
  background-color: var(--color-creamy);
}
/* 霞海城隍廟 */
.C01 {
  top: 10px;
  left: 360px;
}
/* 龍山寺 */
.C06 {
  top: 100px;
  left: 320px;
}
/* 指南宮 */
.C07 {
  top: 130px;
  left: 580px;
}
/* 兔兒神廟*/
.C10{
  top: 5px;
  left: 600px;
}
/* 樂成宮 */
.C03{
  top: 230px;
  left: 260px;
}
/* 鹿港天后宮 */
.C04{
  top: 330px;
  left: 210px;
}
/* 月下老人 */
.C08{
  top: 360px;
  left: 460px;
}
/* 祀典武廟 */
.C02{
  top: 580px;
  left: 100px;
}
/* 大天后宮 */
.C05{
  top: 480px;
  left: 120px;
}
/* 重慶寺 */
.C09{
  top: 570px;
  left: 300px;
}
/* 大觀音亭 */
.C11{
  top: 470px;
  left: 290px;

}
/* 關帝廟 */
.C12{
    top: 680px;
    left: 160px;
  }



/* #north-group_lb{
  visibility: hidden;
} */

