/* 求籤-------------------------------------------------------------------------- */
.divination-re {
    position: fixed;
    right: 15%;
    animation: meow-re 3s ease-in-out infinite;
}

@keyframes meow-re {

    0%,
    100% {
        transform: rotate(5deg);
    }

    50% {
        transform: translateY(20px) rotate(0deg);
    }
}

/* bg-divination---------------------------------------------------------------- */
.bg-divination-re {
    background: url(./imgs/member/bg-divination.jpg) center center / cover no-repeat;
    transition: 2s;
}

.hight-divination-re {
    height: calc(100vh - 134px);
}

.wrapper-re {
    flex-wrap: wrap;
}

.divinationcard-re {
    position: relative;
    width: 100%;
    height: 100%;
    transition: .5s all ease;
    transform: rotateX(50deg) scale(0.7);
    perspective: 900px;
    animation: entry 1s linear 1;
    flex-wrap: wrap;
}

.divinationcard-re img {
    width: 100%;
    height: auto;
    position: absolute;
    transform: rotateX(50deg) scale(0.7);
    border-radius: 15px;
}

.divinationcard-re:hover {
    cursor: pointer;
    transform: rotate(0deg) scale(1) translateY(10px);
    transition: .5s all ease;
}

@keyframes entry {
    0% {
        top: -20%;
        opacity: 0.1;
    }

    100% {
        top: 0%;
    }
}

.bg-divinationend-re {
    pointer-events: none;
    position: absolute;
    top: 72px;
    transition: .5s;
    background: url(./imgs/member/bg-divinationend.jpg) center center / cover no-repeat;
}

.divinationcatCard-re img {
    border-radius: 15px;
    width: 100%;
}

.divinationcatCardXS-re img {
    border-radius: 15px;
    width: 90%;
    margin-left: 20px;
}

/* @media (min-width: 768px) {
    .divinationcat-re {
        margin: 0 0 0 10%;
    }
    .divinationcatCard-re {
        margin: 5% 0 0 -20%;
    }
} */
.divinationcatCard-re {
    top: 20%;
    right: 0%;
}

.divinationlikeicon-re {
    right: 8%;
    top: 5%;
}

.opacity0 {
    opacity: 0;
}
