* {
    font-family: 'gensen-M';
}

.body_ba {
    height: 200vh;
    background:
        url(./imgs/index/grain2.png)center -500px / 160% no-repeat,
        url(./imgs/index/bg0.png) center center / cover no-repeat;
}

.bg1_ba {
    width: 100%;
    height: 100vh;
    border: 250px transparent solid;
    border-image: url(./imgs/index/flower-border.png) 300 stretch;
    background: url(./imgs/index/bg2.png) center -320px / cover no-repeat;
}

.left {
    left: -300px;
    top: -200px;
    width: 60%;
    height: 100vh;
}

.cloud-left {
    left: 20%;
    top: 15%;
}

.cloud-left-animation {
    animation: cloud-left 5s infinite ease-in-out;
}

@keyframes cloud-left {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-50px);
    }
}

.svg1 {
    top: -70%;
    right: -10%;
    /* border: #ff5b00 1px solid; */
}

.path {
    stroke-dashoffset: 1000;
    stroke-dasharray: 100;
    animation: dash 10s infinite linear;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

.flower-left {
    /* z-index: -1; */
    top: 43%;
    left: 20%;
    transform: scale(0.9);
}

.right {
    right: -350px;
    top: -200px;
    width: 30%;
    height: 100vh;
    /* border: #4400ff 1px solid; */
}

.cloud-right {
    right: 20%;
    top: 15%;
}

.cloud-right-animation {
    animation: cloud-right 5s infinite ease-in-out;
}

@keyframes cloud-right {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(50px);
    }
}

.svg2 {
    top: -70%;
    left: -10%;
    /* border: #ff5b00 1px solid; */
}

.flower-right {
    top: 43%;
    right: 20%;
    transform: scale(0.9);
}

.js-type-writer {
    /* font-size: 48px;
    font-family: sans-serif; */
    color: white;
    /* text-transform: uppercase; */
    text-align: center;
}

.js-type-writer>span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}

h1 {
    /* -webkit-text-stroke: 5px black;
    paint-order: stroke fill; */

    text-shadow:
        -5px -5px 0 var(--color-text100),
        0 5px 0 var(--color-text100),
        5px -5px 0 var(--color-text100),
        5px 0 0 var(--color-text100),
        5px 5px 0 var(--color-text100),
        0 -5px 0 var(--color-text100),
        -5px 5px 0 var(--color-text100),
        -5px 0 0 var(--color-text100);
}

/* @mixin stroke($color: var(--color-text100), $size: 1px) {
    text-shadow: -#{$size} -#{$size} 0 $color,
    0 -#{$size} 0 $color,
    #{$size} -#{$size} 0 $color,
    #{$size} 0 0 $color,
    #{$size} #{$size} 0 $color,
    0 #{$size} 0 $color,
    -#{$size} #{$size} 0 $color,
    -#{$size} 0 0 $color;
} */