/* .product_head{
    background: url(./imgs/product/P19_2.jpg) center center / cover;
    width: 100%;
    height: 760px;
} */
.product_head carousel-item{
    width: 100%;
    position: relative;
}
.product_title{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -400px;
    left: 100px;

}
.product_title h1{
    text-align: center;
    color: white;
    text-shadow: 5px 5px 10px #444;
    padding-bottom: 36px;

}
.product_title button{

}
/* ----------------------輪播牆結束--------------------- */
.product_midcontrol{
    margin: 40px auto;
    /* text-align: center; */
}
.midicon{
    /* text-align: center; */
}

.midimg{
    width: 80px;
}