/* *{
    outline: 1px solid #000;
} */
html{
    scroll-behavior: smooth;
}
.pd_head{
    margin: 80px;
}
.product_detail_07 h2,.product_detail_07 h4,.product_detail_07 h5,.product_detail_07 h6{
    color: var(--color-text87);
}
.product_detail_07 p,.product_detail_07 small{
    color: var(--color-text100);
}
.product_detail_07 .xs{
    color: var(--color-text60);
}
.product_detail_07 button:focus{
    outline-style: none;
}
.product_detail_07 a{
    text-decoration: none;
}
.product_detail_07 a .icon_buy{
    text-decoration: none;
    color: var(--color-text100);
}
.product_detail_07 button{
    cursor: pointer;
    transition: .3s;
}
/* ------------------------輪播------------------------ */
.img-demo{
    position: relative;
    /* overflow: hidden; */

}
.p1{
    position: absolute;
    /* left: 1050px; */
    left: 0;
    top: 0;
    opacity: 1;
    transition: .5s;
}
.p2{
    position: absolute;
    /* left: 525px; */
    left: 0;
    top: 0;
    opacity: 0;
    transition: .5s;

}
.p3{
    left: 0;
    top: 0;
    opacity: 0;
    transition: .5s;

}
.p4{
    left: 0;
    top: 0;
    position: absolute;
    /* right: 525px; */
    opacity: 0;
    transition: .5s;

}
.p5{
    left: 0;
    top: 0;
    position: absolute;
    /* right: 1050px; */
    opacity: 0;
    transition: .5s;

}
/* ------------------------大換小------------------------ */
.product_carousel .row{
    flex-direction: column;
}
.img-demo > img{
    width: 100%;
    /* position: relative; */
}
.img-wrap > img{
    width: 100%;
}
.top_carousel .carousel-control-prev i,.top_carousel .carousel-control-next i{
    color: #fff;
    margin: 0;
    font-size: 30px;
}
.icon_heart{
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 2;
    cursor: pointer;
}
.color{
    stroke: #432A0F;
    fill: #CD562F;
}
.icon_fivestar{
    color: var(--color-yellow);
    padding: 0 8px;
}
.star .icon_fivestar{
    color: var(--color-yellow);
    padding-left:  0;
}

/* 輪播結束 */
.detail_title .row{
    flex-direction: column;
}
.evaluation{
    display: flex;

}
.price h2::before{
    content: "NT$ ";
    
}
.number{
    margin-top: 16px;
}
.fire p{
    line-height: 24px;
}
.product_detail_07 select{
    height: 48px;
    border-radius: 8px;
    border: 1px solid var(--color-text87);
}
.choice{
    padding-bottom: 16px;
}
.number input{
    width: 50px;
    text-align: center;
    border: none;
}
.quantity{
    padding: 4 8px;
    margin: 0 8px;
}
.minus{
    background-color: var(--color-text87);
    border-radius: 50%;
    border: none;
    color: #fff;
}
.minus.disabled{
    background-color: var(--color-text38);
}
.plus{
    background-color: var(--color-text87);
    border-radius: 50%;
    border: none;
    color: #fff;

}
.pd_head .buy{
    width: 400px;
    height: 45px;
    color: var(--color-text87);
    text-align: center;
    border-radius: 8px;
    background-color: var(--color-yellow);
    border: 2px solid var(--color-text87);
    margin-bottom: 16px;
}
.pd_head .cart{
    width: 400px;
    height: 45px;
    color: var(--color-text87);
    text-align: center;
    border-radius: 8px;
    background-color: var(--color-creamy-light);
    border: 2px solid var(--color-text87);
}
/* 小換大和商品標題結束 */
/* 手機輪播牆 */
.pd_head_mb .carousel{
    position: relative;
}
.goback{
    position: absolute;
    z-index: 99;
    left: 3%;
    top: 1%;
}
.goback a{
    height: 26px;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bolder;
    background-color: transparent;
}

.carousel-indicators{
    bottom: 0!important;
}
.pb_headtitle_mb .icon_fivestar{
    padding: 0;
}
.pb_headtitle_mb .icon_fire{
    color: #CD562F;
}
.pb_headtitle_mb h4::before{
    content: "NT$ ";
}

/* 手機輪播牆結束 */
/* 手機上方列 */
.pdnav_mb{
    height: 50px;
    background-color: var(--color-lightcreamy);
    position: sticky;
    top: 0;
    z-index: 2;
    transition: .5s;
    line-height: 50px;
}
.pdnav_mb a{
    text-decoration: none;
}
.pdnav_mb a small{
    line-height: 25px;
}
.pdnav_mb small:hover{
    color: #CD562F;
    
}
/* 桌機下方列 */
.undernav{
    width: 100%;
    padding: 20px 0; 
    background-color: var(--color-lightcreamy);
    /* margin: 16px 0; */
    position: fixed;
    left: 0px;
    bottom: 0;
    z-index: 3;
    transform: translateY(40px);
    opacity: 0;
}
.left_title h2::before{
    content: "NT$";
}
.left_title h2{
    margin-bottom: 0;
}
button:hover{
    box-shadow: 2px 2px 0px var(--color-brown-dark);
}
.undernav .btns button{
    width: 200px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid var(--color-text87);
}
.btns .favorite{
    background-color: var(--color-creamy-light);
}
.undernav .btns .cart{
    background-color: var(--color-creamy-light);
}
.undernav .btns .buy{
    margin: 0;
    background-color: var(--color-yellow);
}
.undernav button a{
    text-decoration: none;
    color: var(--color-text87);
}
/* -----------------------下方列結束-------------------- */
.links{
    flex-direction: column;
    position: sticky;
    top: 10px;
}
.links a{
    padding: 4px 0;
    text-decoration: none;
    color: var(--color-text87);
}
.links a:hover, .links a:focus{
    color: var(--color-orange);
}
.intro_bg {
    margin: 40px auto 0;
    background-color: var(--color-creamy-light);
    padding: 50px 24px 50px ;
}
.intro_bg h5{
    position: relative;
    border-bottom: 1.5px solid var(--color-text60);
    /* box-shadow: 0px 3px 0px var(--color-text87); */
}
.intro_bg h5::after{
    content: "";
    border-bottom: 1.5px solid var(--color-text60);
    width: 100%;
    position: absolute;
    bottom: -6px;
    left: 0;
}
.intro_img{
    margin: 16px 0 0;
}
#intro p{
    padding-top: 16px;
}
/* -----------------------商品介紹結束-------------------- */
#comment .row{
    padding: 8px;
}
.c_star{
    padding: 8px 0;
}
.c_star h3{
    color: #fff;
    padding: 16px 25px;
    background-color: var(--color-yellow);
    border-radius: 8px;
}
.cd .row{
    margin-top: 12px;
    /* border-bottom: 1px solid var(--color-text60); */
}

.profile_img{
    width: 100px;
    margin: 0 auto;
}
.name{
    margin: 0px;
}
.star_date .icon_fivestar{
    padding-left: 0;
}
.c_tags{
    margin: 8px 0;
}
.tags{
    margin: 0 4px;
    padding: 8px 16px;
    border-radius: 50px;
    background-color: #E5A62A;
    border: 2px solid var(--color-text87);
}

.detail_comment{
    min-height: 180px;
    min-width: 60px;
}

.cd_mb i{
    color: var(--color-yellow);
}
.cd_mb .detail_comment{
    margin-top: 12px;
    border-bottom: 1px solid var(--color-text60);
}
/* -----------------------評價結束-------------------- */
.pd_footer_mb{
    width: 100%;
    background-color: var(--color-orange);
    position: fixed;
    bottom: 0;
    z-index: 5;
}

.pd_footer_mb .buy{
    height: 45px;
    color: var(--color-text87);
    text-align: center;
    border-radius: 8px;
    background-color: var(--color-creamy-light);
    border: 2px solid var(--color-text87);
    margin-bottom: 16px;
}
.pd_footer_mb .cart{
    height: 45px;
    color: var(--color-text87);
    text-align: center;
    border-radius: 8px;
    background-color: var(--color-creamy-light);
    border: 2px solid var(--color-text87);
}
.footercolor{
    fill: var(--color-yellow);
}
/* 桌機板瀏覽其他商品卡片 */
.otherp{
    margin: 28px 0 120px;
}
.otherp h4{
    color: var(--color-text87);
}
.otherp .container{
    background-color: var(--color-creamy-light);
    padding-top: 24px;
}
.otherp a{
    text-decoration: none;
    color: var(--color-text87);
}
.carousel {
	margin: 24px auto 24px;
	padding: 0 80px;
}
.carousel .carousel-item {
	text-align: center;
	overflow: hidden;
}

.carousel .carousel-item img {
	max-width: 100%;
	display: inline-block;
}
.img-box{
    position: relative;
}
.img-box:hover::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    /* background-color: rgba(45, 45, 45, 0.176); */
    position: absolute;
    bottom: 0;
    /* 直接在div下陰影 */
}
/* .carousel .icon_heart{
    position: absolute;
    right: 10px;
    bottom: 10px;
} */

.carousel .thumb-wrapper {
	margin: 5px;
	text-align: left;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.1); 
    border-radius: 8px;
    overflow: hidden;
}
.carousel .thumb-content {
	padding: 10px;
	font-size: 13px;
}
.otherp .carousel-control-prev,.otherp .carousel-control-next {
	height: 44px;
	width: 44px;
	background: none;	
	margin: auto 0;

}
.otherp .carousel-control-prev i,.otherp .carousel-control-next i {
	font-size: 36px;
	position: absolute;
	top: 50%;
	display: inline-block;
	margin: -19px 0 0 0;
	z-index: 1;
	left: 0;
	right: 0;
	color: var(--color-orange);
	text-shadow: none;
	font-weight: bold;
}
.otherp .carousel-control-prev i {
	margin-left: -3px;
}
.otherp .carousel-control-next i {
	margin-right: -3px;
}


.carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 4px;
	border: none;
}
/* .carousel-indicators li {	
	background: #ababab;
}
.carousel-indicators li.active {	
	background: rgb(85, 85, 85);
} */
.card_under h5::before{
    content: "NT$";
}
.card_under small{
    color: var(--color-text38);
}
.back-button{
    bottom: 40px;
    z-index: 2;
}

/* 手機把 footer 關掉 */

footer.product-none{
    display: none !important;
}



.text-14-re {
    font-family: 'gensen-R';
    font-size: 14px;
    line-height: 140%;
}
