 /*-----------------購物車訂單的進度條 ----------------- */
 /* *{
    border: 1px solid #432A0F;
 } */

.line-box-yu{
    /* margin-top: 88px auto 0 auto; */
    margin: 0 auto;
    padding-top: 88px;
    border-bottom:1px solid #432A0F ;
    width: 1200px;
}
.progress-bar-yu{
    margin-top: -24px;
    margin-bottom: 88px;
    font-size: var(--font-h5-20)
    
}
.circle-1-yu{
    padding:0 24px;
    align-items: center;
    background-color: #fff;
}
.circle-2-yu{
    padding:0 24px;
    align-items: center;
    background-color: #fff;
}
.circle-3-yu{
    padding:0 24px;
    align-items: center;
    background-color: #fff;
}

.circle-light{
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #E5A62A;
    border-radius: 50%;
}
.circle{
    position: relative;
    width: 40px;
    height: 40px;
    background-color: rgba(229, 167, 42, 0.3);
    border-radius: 50%;
}
.circle-light .page-light-number{
    color: #fff;
}
.circle-light h5{
    color: rgba(67, 42, 15, 0.38);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.circle h5{
    color: rgba(67, 42, 15, 0.38);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.page-yu h5{
    /* border: 1px solid #000; */
    line-height: 20px;
    padding: 10px;
    text-align: center;
    color: rgba(67, 42, 15, 0.38);
}
.page-yu .page-yu-one{
    color: #432A0F;
}

/* ---------------------獨家商品 旅遊行程分頁標籤 -------------------*/
#myTabContent-yu{
    max-width: 1450px;
}
.pagination-yu{
    font-size: var(--font-h5-20);
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pagination-yu .btn {
    color: rgba(67, 42, 15, 0.38);
    outline:1px solid #E5A62A;
}
.pagination-yu a.btn:hover{
    /* color: rgba(67, 42, 15, 0.38); */
    background-color: #E5A62A;
    color: #fff;
}
.pagination-yu .btn:focus  {
    box-shadow:none;
    background-color: #E5A62A;
    color: #fff;
    outline:1px solid #E5A62A;
}
.pagination-yu .active{
    outline:1px solid #E5A62A;
    border-color:#E5A62A;
    background-color: #E5A62A;
    color: #fff;
    border: 1px solid  #E5A62A;
}

/* --------checkboox-yu (改大小)---------*/
.checkbox-yu input[type="checkbox"] {
    accent-color: #E5A62A;
}
.checkbox-yu input{
    width: 12px;
    height: 12px;
    border: 2px solid #432A0F;
}
.checkbox-yu input.custom {
    accent-color: rgb(255, 255, 255);
}
.checkboox-yu {
    width: 100px; 
    height: 100px;
}

/* -----清單內字體顏色----------------- */
.table , .thead  , .tbody h6{
    margin-bottom: 0px;
    color: #432A0F;
}
/* -------- 獨家商品表格外觀設定--------- */
.tbody th{
    vertical-align: middle;
} 
#uniqui-yu .thead{
    background-color: var(--color-creamy);
    border: none;
    height: 60px;
}
#uniqui-yu .table td{
    vertical-align: middle;
    
}
#uniqui-yu .table{
    margin-top:20px;
}
#uniqui-yu .table> thead > tr > th{
    border: none;
}
#uniqui-yu .table > tbody > tr > td{
    border: none;
}
#uniqui-yu .thead th{
    border: none;
}
#uniqui-yu .tbody th{
    border: none;
}
#uniqui-yu .tbody td{
    padding: 2rem;
}
/* -------- 旅遊行程表格外觀設定--------- */
#travel-yu .thead{
    background-color: var(--color-creamy);
    border: none;
    height: 60px;
}
#travel-yu .table td{
    vertical-align: middle;
    border: none;
}
#travel-yu .table{
    margin-top:20px;
}
#travel-yu .table> thead > tr > th{
    border: none;
}
#travel-yu .table > tbody > tr > td{
    border: none;
}
#travel-yu .thead th{
    border: none;
}
#travel-yu .tbody th{
    border: none;
}
#travel-yu .tbody td{
    padding: 2rem;
}
/* ---------規格下拉選單外觀 ---------------*/
.form-select{
    text-align: center;
    border: 2px solid #432A0F ;
    color: #432A0F;
    border-radius: 8px;
    width: 100%;
    height: 36px;
    font-family: 'gensen-M';
    font-size: 16px;
    line-height: 140%;;
}
.form-select:focus{
    border: 2px solid #E5A62A ;
    border-color: #E5A62A;
}


/* -------------數量增加按鈕------------- */
.qty-yu {
    width: 40px;
    height: 35px;
    text-align: center;
    border: 0;

}
input.qtyplus {
    width: 25px;
    height: 35px;

}
input.qtyminus {
    width: 25px;
    height: 35px;
}
/* .qtyminus{
    width: 100px;
    height: 25px;
    border: 0;
    background-color: #432A0F;
    border-radius: 100%;
} */

/* ------刪除icon-------- */
.form-delete-yu{
    color: #432A0F;
}
.form-delete-yu:hover{
    color: #E5A62A;
}

/*------------ 下一步按鈕 -------------*/
.unique-nextbutton-yu{
    /* outline: 1px solid  #432A0F; */
}
.unique-nextbutton-yu .unique-btn-yu{
    /* border: 1px solid #432A0F; */
    margin: 40px;
    background-color: #E5A62A;
    font-family: 'gensen-M';
    font-size: 14px;
    line-height: 125%;
    width: 275px;
    height: 41px;
    border-radius: 8px;
    box-shadow:none;
}
.unique-nextbutton-yu .unique-btn-yu:hover{
    outline: none;
    box-shadow: 4px 4px 0px 0px #432A0F;
}
.unique-btn-yu:active {
    /* background-color: #E5A62A;
    font-family: 'gensen-M';
    font-size: 14px;
    line-height: 125%; */
    box-shadow:none;
}
.unique-btn-yu:focus  {
    box-shadow:none;
    background-color: #E5A62A;
}

/* --------------獨家商品 總計價錢-------------- */
.totalprice-uniqui-yu{
    border-top:1px solid #432A0F;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
}
.price-uniqui-yu{
    color: var(--color-red);
}