/*-----------------購物車訂單的進度條 ----------------- */
 /* *{
    border: 1px solid #432A0F;
} */

.line-box-yu{
    /* margin-top: 88px auto 0 auto; */
    margin: 0 auto;
    padding-top: 88px;
    border-bottom:1px solid #432A0F ;
    width: 1200px;
}
.progress-bar-yu{
    margin-top: -24px;
    margin-bottom: 88px;
    font-size: var(--font-h5-20)
    
}
.circle-1-yu{
    padding:0 24px;
    align-items: center;
    background-color: #fff;
}
.circle-2-yu{
    padding:0 24px;
    align-items: center;
    background-color: #fff;
}
.circle-3-yu{
    padding:0 24px;
    align-items: center;
    background-color: #fff;
}

.circle-light{
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #E5A62A;
    border-radius: 50%;
}
.circle{
    position: relative;
    width: 40px;
    height: 40px;
    background-color: rgba(229, 167, 42, 0.3);
    border-radius: 50%;
}
.circle-light .page-light-number{
    color: #fff;
}
.circle-light h5{
    color: rgba(67, 42, 15, 0.38);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.circle h5{
    color: rgba(67, 42, 15, 0.38);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.page-yu h5{
    /* border: 1px solid #000; */
    line-height: 20px;
    padding: 10px;
    text-align: center;
    color: rgba(67, 42, 15, 0.38);
}
.page-yu .page-yu-two{
    color: #432A0F;
}

/* ---------表單的寬度------(每一個表單都要用) */
#myTabContent-yu {
    max-width: 1450px;
}
/* ----------------訂單明細 --------------*/
.listinfo-yu{
    background-color: #FFFCF7;
}
.section-2-title-yu{
    background-color: var(--color-creamy);
}
.listinfo-title-yu{
    background-color: var(--color-creamy);
    padding: 24px 12px;
    color: #432A0F;
}
.details-list-title-yu{
    color: #432A0F;
    padding: 24px 12px;
}
.panel-body-yu{
    padding: 24px 12px;
}
.listinfo-number-yu{
    color: #432A0F;
    padding: 24px 12px;
    margin: 0;
}
.listinfo-number-yu span {
    font-family: 'gensen-R';
    font-size: 20px;
    line-height: 140%;
    color: var(--color-red);
}
.listinfo-yu label {
    margin: 0;
    padding: 0  12px 12px 12px;
}
/* ----------下拉詳細訂單明細---------- */
.panel-title-yu{
    padding: 0 12px;
}
.panel-title-yu a{
    text-decoration: none;
    color: #432A0F;
}
.listinfo-detalis-title-yu{
    width: 100%;
}
.listinfo-detalis-title-yu svg{
    padding-bottom: 4px;
}
/* ---------下拉詳細訂單表格樣式---------- */
.panel-body-yu{
    padding: 0;
}
#listinfo-details-yu{
    margin: 28px 0;
}
#listinfo-details-yu tbody td{
    padding: 2rem;
}
#listinfo-detalis-yu .table td{
    vertical-align: middle;
    
}
#listinfo-details-yu .thead th{
    border: none;
}
#listinfo-details-yu .thead{
    background-color: var(--color-lightcreamy);
}
#listinfo-details-yu .tbody td {
    border: none;
    vertical-align: middle;
}
#listinfo-details-yu .tbody{
    border: none;

}
/* ----- 下拉詳細訂單表格總價---------*/
.listinfo-details-totalprice-yu{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
}

/* ----訂購人資料section----- */
.section-1-yu{
    background-color: #FFFCF7;
}
/* ------訂購人填寫資料------ */
.order-list-yu input , .form-group select{
    border-radius: 8px;
    border: 2px solid #432A0F;
    height: 48px;
}
.order-list-yu input.ordername-yu , input.orderphone-yu{
    width: 330px;
    height: 48px;
}
.order-list-yu .orderaddress1-yu {
    width: 110px;
    height: 48px;
    margin:0 12px 0 0;
    text-align: center;
}
.order-list-yu .orderaddress2-yu{
    width: 110px;
    height: 48px;
    margin:0 12px 0 0px;
    text-align: center;
}
.order-list-yu .orderaddress3-yu{
    width: 466px;
    height: 48px;
    margin:0 12px 0 0px;
}
.order-email-yu input{
    width: 520px;
}

/* ----收件人資料section----- */
.section-2-yu{
    background-color: #FFFCF7;
}
/* ------收件人填寫資料------ */
.receiver-list-yu input , .form-group select{
    border-radius: 8px;
    border: 2px solid #432A0F;
    height: 48px;
}
.receiver-list-yu input.receivername-yu , input.receiverphone-yu{
    width: 330px;
    height: 48px;
}
.receiver-deliverbtn1-yu , .receiver-deliverbtn2-yu {
    margin:0 12px 0 0px;
    border-radius: 8px;
    color: #432A0F;
    border:  2px solid #432A0F;
    height: 52px;
    width: 104px;
    outline: none;
    box-shadow: none;
}
.receiver-deliverbtn1-yu:focus{
    outline: none;
    box-shadow: none;
    background-color: #E5A62A;
    color: #fff;
}
.receiver-deliverbtn1-yu:hover{
    background-color: #E5A62A;
    color: #fff;
}
.receiver-deliverbtn2-yu:focus{
    outline: none;
    box-shadow: none;
    background-color: #E5A62A;
    color: #fff;
}
.receiver-deliverbtn2-yu:hover{
    background-color: #E5A62A;
    color: #fff;
}


.unique-nextbutton-yu .unique-btn-yu:hover{
    outline: none;
    box-shadow: 4px 4px 0px 0px #432A0F;
}
.receiver-email-yu input{
    width: 520px;
}
.receiver-list-yu .receiveraddress1-yu {
    width: 110px;
    height: 48px;
    margin:0 12px 0 0;
    text-align: center;
}
.receiver-list-yu .receiveraddress2-yu{
    width: 110px;
    height: 48px;
    margin:0 12px 0 0px;
    text-align: center;
}
.section-2-yu .receiver-address-yu .receiveraddress3-yu{
    width: 466px;
    height: 48px;
    margin:0 12px 0 0px;
}