/*-----------------購物車訂單的進度條 ----------------- */
/* *{
    border: 1px solid #432A0F;
} */
/* *{
    margin: 0;
    padding: 0;
  } */


  /*-------- 表單欄位底色不要換色------- */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

/* 一建帶入 */
.AllinputValueYu{
    /* border: 1px solid #000; */
    position: absolute;
    width: 300px;
    height: 300px;
    right: 20px;
}

.line-box-yu {
  /* margin-top: 88px auto 0 auto; */
  margin: 0 auto;
  padding-top: 88px;
  border-bottom: 1px solid #432a0f;
  width: 1200px;
}
.progress-bar-yu {
  margin-top: -24px;
  margin-bottom: 88px;
  font-size: var(--font-h5-20);
}
.circle-1-yu {
  padding: 0 24px;
  align-items: center;
  background-color: #fff;
}
.circle-2-yu {
  padding: 0 24px;
  align-items: center;
  background-color: #fff;
}
.circle-3-yu {
  padding: 0 24px;
  align-items: center;
  background-color: #fff;
}

.circle-light {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #e5a62a;
  border-radius: 50%;
}
.circle {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: rgba(229, 167, 42, 0.3);
  border-radius: 50%;
}
.circle-light .page-light-number {
  color: #fff;
}
.circle-light h5 {
  color: rgba(67, 42, 15, 0.38);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circle h5 {
  color: rgba(67, 42, 15, 0.38);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page-yu h5 {
  /* border: 1px solid #000; */
  line-height: 20px;
  padding: 10px;
  text-align: center;
  color: rgba(67, 42, 15, 0.38);
}
.page-yu .page-yu-two {
  color: #432a0f;
}

.price-yu p::before {
  content: "NT$ ";
}

/* --------手機返回健icon -------------*/
.mdicon-back-yu {
  margin: 12px;
}
/* 手機progress-bar-yu */
.mdprogress-bar-yu {
  margin: 28px 0;
  font-size: var(--font-h5-20);
}
.mdjustify-yu {
  display: flex;
  justify-content: space-evenly;
}

/* ---------購物車訂單桌機的進度條circle------------- */
.circle-1-yu {
  padding: 0 24px;
  align-items: center;
  background-color: #fff;
}
.circle-2-yu {
  padding: 0 24px;
  align-items: center;
  background-color: #fff;
}
.circle-3-yu {
  padding: 0 24px;
  align-items: center;
  background-color: #fff;
}

/* 手機 circlemd-1 2 3-yu */
.mdcircle-1-yu,
.mdcircle-2-yu,
.mdcircle-3-yu {
  margin: auto 0;
}

/* -------填寫欄位的驗證input----------- */

.section-1-yu .fa-regular,
.section-2-yu .fa-regular {
  visibility: hidden;
  margin: 0 4px;
  color: #e5a62a;
  /* border: 1px solid #000; */
}
.section-1-yu .fa-solid,
.section-2-yu .fa-solid {
  visibility: hidden;
  margin: 0 4px;
  color: #963c38;
  /* border: 1px solid #000; */
}
.section-1-yu .fa-solid small,
.section-2-yu .fa-solid small {
  line-height: 0%;
}

/* ----------信用卡輸入的input狀態------------ */

.usercdinputYu .fa-regular {
  visibility: hidden;
  margin: 0 6px;
  color: #e5a62a;
  /* border: 1px solid #000; */
}

.usercdinputYu .fa-solid {
  visibility: hidden;
  margin: 0 0px;
  color: #963c38;
  /* border: 1px solid #000; */
}

.usercdinputYu .fa-solid small {
  line-height: 0%;
}

.usercreditcardinput-yu .fa-regular {
  visibility: hidden;
  margin: 0 6px;
  color: #e5a62a;
  /* border: 1px solid #000; */
}

.usercreditcardinput-yu .fa-solid {
  visibility: hidden;
  margin: 0 0px;
  color: #963c38;
  /* border: 1px solid #000; */
}

.usercreditcardinput-yu .fa-solid small {
  line-height: 0%;
}
/* ---------桌機表單的寬度------(每一個表單都要用) */
#myTabContent-yu {
  max-width: 1450px;
}
/* ----------------桌機訂單明細 --------------*/
.listinfo-yu {
  background-color: #fffcf7;
}

/*-----手機訂單明細 ------  */
.mdlistinfo-yu {
  background-color: #fffcf7;
  margin-bottom: 20px;
}
/* ---------手機卡片外觀 ------*/
.card-yu,
.largerCheckbox-yu {
  align-items: flex-start;
}
.largerCheckbox-yu {
  margin-right: 4px;
}
.mdcardColorYu{
  color: #432A0F;
}
.mdcardlist-yu {
  overflow: hidden;
  /* border: 1px solid #000; */
  width: 190px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

/* ------------桌機訂單明細 ------------ */
.section-2-title-yu {
  background-color: var(--color-creamy);
}
.section-2-title-yu label {
  padding: 16px 0 0 0;
}

/*------- 手機同訂購人 ------------*/
.mdsection-2-title-yu {
  background-color: var(--color-creamy);
}
.mdsection-2-title-yu label {
  padding: 16px 16px 0 0;
}

/* ---------桌機---------- */
.listinfo-title-yu {
  background-color: var(--color-creamy);
  padding: 12px 12px;
  color: #432a0f;
}
.details-list-title-yu {
  color: #432a0f;
  padding: 24px 12px;
}
.panel-body-yu {
  padding: 24px 12px;
}
.panel-body-yu .OnePriceYu::before{
  content: "NT$";
}
.panel-body-yu .LittlePriceYu::before{
  content: "NT$";
}
.listinfo-number-yu {
  color: #432a0f;
  padding: 24px 12px;
  margin: 0;
}

/* ----------手機結帳明細--------------- */
.mdsection-1-yu {
  background-color: #fffcf7;
  margin-bottom: 20px;
}
.listinfo-number-yu{
  color: #432A0F;
  padding: 24px 12px;
  margin: 0;
}
.mdsection-1-yu .listinfo-number-yu::before{
  content: "總金額:";
}
.mdsection-1-yu h6.listinfoYu::before{
  content: "NT$";
}
.listinfoYu{
  padding: 24px 12px;
  margin: 0;
  color: var(--color-red);
}

/* 手機mdlistinfo-number-yu */
.mdlistinfo-number-yu {
  color: #963c38;
  padding: 8px 12px;
  margin: 0;
}
.mdsection-1-yu .listinfo-number-yu{
  color: #963c38;
  padding: 24px 12px;
  margin: 0;
}
.mdsection-1-yu .listinfo-number-yu::before{
  content: "總金額:";
}
.mdsection-1-yu .listinfoYu{
  padding: 24px 12px;
  margin: 0;
  color: var(--color-red);
}
.mdsection-1-yu h6.listinfoYu::before{
  content: "NT$";
}
.listinfo-number-yu {
  font-family: 'gensen-R';
  font-size: 20px;
  line-height: 140%;
  color: var(--color-red);
}
.listinfo-yu label {
  margin: 0;
  padding: 0 12px 12px 12px;
}

/* ----------桌機下拉詳細訂單明細---------- */
.panel-title-yu {
  cursor: pointer;
  padding: 0 0 12px 12px;
}
.panel-title-yu:hover {
  color: #e5a62a;
}
.panel-title-yu:hover svg path {
  stroke: #e5a62a;
  transform: rotateX(0deg);
}
.panel-title-yu svg path {
  transition: all 0.5s ease 0s;
  transform: rotateX(-40deg);
}
.panel-title-yu a {
  text-decoration: none;
  color: #432a0f;
}
.listinfo-detalis-title-yu {
  width: 100%;
}
.listinfo-detalis-title-yu svg {
  padding-bottom: 4px;
}

/* ----------手機下拉詳細訂單明細---------- */
.mdpanel-title-yu {
  cursor: pointer;
  padding: 0 0 12px 12px;
}
.mdpanel-title-yu a {
  text-decoration: none;
  color: #432a0f;
}

/* ---------桌機下拉詳細訂單表格樣式---------- */
.panel-body-yu {
  padding: 0;
}
/* #listinfo-details-yu{
    padding: 28px 0;
} */
#listinfo-details-yu tbody td {
  padding: 2rem 2rem 0rem 2rem;
}
#listinfo-detalis-yu .table td {
  vertical-align: middle;
}
#listinfo-details-yu .thead th {
  border: none;
}
#listinfo-details-yu .thead {
  background-color: var(--color-lightcreamy);
}
#listinfo-details-yu .tbody td {
  border: none;
  vertical-align: middle;
}
#listinfo-details-yu .tbody {
  border: none;
}
.priceNT-yu h6.NTYu::before{
  content: "訂單金額:NT$";
}
.priceNT-yu h6#total-price-yu::before{
  content: "總金額:NT$";
}
.imgsCardYu{
  width: 190px;
}
/* ----- 桌機下拉詳細訂單表格總價---------*/
.listinfo-details-totalprice-yu {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}

/* ----訂購人資料section----- */
.listinfo-yu {
  margin-bottom: 60px;
}

.section-1-yu {
  background-color: #fffcf7;
  margin-bottom: 60px;
}
/* ------訂購人填寫資料------ */
.order-list-yu input,
.form-group select {
  border-radius: 8px;
  border: 2px solid #432a0f;
  height: 48px;
}
.order-name-yu input.ordername-yu:focus {
  border: 2px solid #e5a62a;
}
.order-list-yu input.ordername-yu,
input.orderphone-yu {
  visibility: visible;
  width: 330px;
  height: 48px;
}
.order-list-yu .orderaddress1-yu {
  width: 110px;
  height: 48px;
  margin: 0 12px 0 0;
  text-align: center;
}
.order-list-yu .orderaddress2-yu {
  width: 110px;
  height: 48px;
  margin: 0 12px 0 0px;
  text-align: center;
}
.order-list-yu .orderaddress3-yu {
  width: 466px;
  height: 48px;
  margin: 0 12px 0 0px;
}
.order-email-yu input {
  width: 520px;
}

/* ------手機訂購人填寫資料------ */
.mdorder-list-yu input,
.form-group select {
  border-radius: 8px;
  border: 2px solid #432a0f;
  height: 48px;
  width: 100%;
}
.mdorder-list-yu input.mdordername-yu,
input.mdorderphone-yu {
  width: 100%;
  height: 48px;
}
.mdorder-list-yu .mdorderaddress1-yu {
  width: 100%;
  height: 48px;
  padding: 0 4px 0 0;
  text-align: center;
}
.mdorder-list-yu .mdorderaddress2-yu {
  width: 100%;
  height: 48px;
  padding: 0 0 0 4px;
  text-align: center;
}
.mdorder-list-yu .mdorderaddress3-yu {
  width: 100%;
  height: 48px;
  margin: 0 12px 0 0px;
}
.mdorder-email-yu input {
  width: 100%;
}

/* ----md訂購人填寫資料section----- */
.mdsection-2-yu {
  background-color: #fffcf7;
  margin-bottom: 20px;
}

/* ----收件人資料section----- */
.section-2-yu {
  background-color: #fffcf7;
  margin-bottom: 60px;
}
/* ------桌機收件人填寫資料 宅配 超取btn------ */
.receiver-list-yu input,
.form-group select {
  border-radius: 8px;
  border: 2px solid #432a0f;
  height: 12px;
}
.receiver-list-yu input.receivername-yu,
input.receiverphone-yu {
  width: 330px;
  height: 48px;
}
.receiver-deliverbtn1-yu,
.receiver-deliverbtn2-yu {
  margin: 0 12px 0 0px;
  border-radius: 8px;
  color: #432a0f;
  border: 2px solid #432a0f;
  height: 52px;
  width: 8%;
  outline: none;
  box-shadow: none;
}

/* .focus_ba{
    outline: none;
    box-shadow: none;
    background-color: #E5A62A;
    color: #fff;
} */

.receiver-deliverbtn1-yu:focus {
  outline: none;
  box-shadow: none;
  background-color: #e5a62a;
  color: #fff;
}
.receiver-deliverbtn1-yu:hover {
  background-color: #e5a62a;
  color: #fff;
}
.receiver-deliverbtn2-yu:focus {
  outline: none;
  box-shadow: none;
  background-color: #e5a62a;
  color: #fff;
}
.familyinputFocus-yu{
    background-color: #e5a62a;
    color: #fff;
}
.receiver-deliverbtn2-yu:hover {
  background-color: #e5a62a;
  color: #fff;
}
.familyinput-yu {
  color: #432a0f;
  /* border-top: 1px solid #000; */
  overflow: hidden;
  height: 0px;
  transition: 0.5s;
  margin-top: 12px;
}
.height {
  height: 60px;
}
.familyinput-yu input {
  color: #432a0f;
  height: 30px;
}
.familya-yu:hover {
  color: #e5a62a;
}
.familya-yu {
  color: #432a0f;
}
/* ------手機收件人填寫資料 宅配 超取btn------ */

.mdreceiver-deliverbtn1-yu,
.mdreceiver-deliverbtn2-yu {
  margin: 0 12px 0 0px;
  border-radius: 8px;
  color: #432a0f;
  border: 2px solid #432a0f;
  height: 52px;
  width: 40%;
  outline: none;
  box-shadow: none;
}
.mdreceiver-deliverbtn1-yu:focus {
  outline: none;
  box-shadow: none;
  background-color: #e5a62a;
  color: #fff;
}
.mdreceiver-deliverbtn2-yu:focus {
  outline: none;
  box-shadow: none;
  background-color: #e5a62a;
  color: #fff;
}

.unique-nextbutton-yu .unique-btn-yu:hover {
  outline: none;
  box-shadow: 2px 2px 0px 0px #432a0f;
}
.receiver-email-yu input {
  width: 520px;
}
.receiver-list-yu .receiveraddress1-yu {
  width: 110px;
  height: 48px;
  margin: 0 12px 0 0;
  text-align: center;
}
.receiver-list-yu .receiveraddress2-yu {
  width: 110px;
  height: 48px;
  margin: 0 12px 0 0px;
  text-align: center;
}
.section-2-yu .receiver-address-yu .receiveraddress3-yu {
  width: 466px;
  height: 48px;
  margin: 0 12px 0 0px;
}

/*----------------- 桌機付款方式----------- */
.section-3-yu {
  background-color: #fffcf7;
  margin-bottom: 60px;
}

/* ---手機付款方式mdsection-3-yu------- */
.mdsection-3-yu {
  background-color: #fffcf7;
  margin-bottom: 20px;
}

/* -------手機付款方式mdsection-4-yu ------------*/
.mdsection-4-yu {
  background-color: #fffcf7;
  /* background-color: #ae7512; */
  margin-bottom: 20px;
  height: 100%;
}
.mdcreditcard-numberbox {
  width: 80%;
  border-bottom: 2px solid #432a0f;
  margin: -24px auto;
  background-color: #fffcf7;
}
.mdsection-4-yu .mdcreditcard-number-yu input {
  border-radius: 8px;
  border: 2px solid #432a0f;
  height: 48px;
  width: 100%;
}
.mdcreditcard-number-yu .mdcreditcard-number-backgroundcolor-yu {
  margin: 0 4px;
  padding: 0 4px;
  background-color: #fffcf7;
}

.mdcreditcard-number-backgroundcolor1-yu,
.mdcreditcard-number-backgroundcolor2-yu,
.mdcreditcard-number-backgroundcolor3-yu {
  opacity: 0;
}
.mdcreditcard2-numberbox {
  width: 50%;
  border-bottom: 2px solid #432a0f;
  margin: -24px 6px;
  background-color: #fffcf7;
}
.mdditcard-numberinput-yu {
  margin-top: 8px;
}

/* --------手機atm匯款的字體------- */
.fontweight-yu p {
  font-family: "gensen-M";
  font-size: 16px;
  line-height: 140%;
}

/* -----------信用卡----------- */
.visacard-yu {
  height: 0px;
  overflow: hidden;
  transition: 0.5s;
}
.usercreditcardinput-yu input {
  border-radius: 8px;
  border: 2px solid #432a0f;
  height: 48px;
  width: 75px;
}
.creditcardnumber-yu {
  position: absolute;
  top: 160px;
  left: 25px;
}
.creditcardnumber-yu input {
  border: 0;
  width: 60px;
  height: 40px;
  margin-left: 8px;
  background-color: #e5a72a00;
}
.creditcarddate-yu {
  position: absolute;
  top: 220px;
  left: 34px;
}
.creditcarddate-yu input {
  width: 30px;
  height: 30px;
  margin-left: px;
  background-color: #e5a62a;
  border: 0;
}
/* ----------信用卡背面------- */
.creditcardcvc-yu {
  /* border: 1px solid #000; */
  /* position: absolute; */
  position: relative;
  /* top: 462px; */
  top: -158px;
  left: 360px;
}
.creditcardcvc-yu input {
  border: 0;
  width: 40px;
  height: 30px;
  background-color: #e5a72a00;
}
.creditcard-style-yu {
  width: 450px;
  height: 290px;
  overflow: hidden;
  /* border: 1px solid #000; */
}
.creditcard-yu {
  width: 450px;
  height: 290px;
  position: relative;
  perspective: 1px;
  transform-style: preserve-3d;
  transition: 3s;
  transform-origin: center;
}
/* .grid-central-yu{
    display: grid;
    place-items: canter;
} */
.frontcredidcard-yu {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform-origin: center;
}

.backcreadidcard-yu {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  transform-origin: center;
}
.creditcard-yu:hover {
  animation: mouseenter-yu 2s cubic-bezier(0.37, -0.37, 0.64, 1.34) forwards;
  animation: mouseleave-yu 2s cubic-bezier(0.37, -0.37, 0.64, 1.34) forwards;
  transform-origin: center;
}
@keyframes mouseenter-yu {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
@keyframes mouseleave-yu {
  0% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

/* .filter1-yu:hover{
    filter: drop-shadow(4px 4px #432A0F);
}
.filter2-yu:hover{
    filter: drop-shadow(4px 4px #432A0F);
} */
/* .card-group-yu  {
    width: 100%;
    max-width: 400px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: -webkit-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
    cursor: pointer;
}
.card-group-yu .frontcreditcard-yu,
.card-group-yu .backcreaditcard-yu {
    position: absolute;
    width: 100%;
    max-width: 400px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    color: #47525d;
}

.card-group-yu .backcreaditcard-yu {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.creditcard.flipped {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
} */

/*------------ 前往付款按鈕 -------------*/
.que-btn-yu {
  cursor: pointer;
}
.unique-nextbutton-yu .unique-btn-yu {
  /* border: 1px solid #432A0F; */
  margin: 20px;
  background-color: #e5a62a;
  font-family: "gensen-M";
  font-size: 14px;
  line-height: 125%;
  width: 275px;
  height: 41px;
  border-radius: 8px;
  box-shadow: none;
}
.unique-nextbutton-yu .unique-btn-yu:hover {
  outline: none;
  box-shadow: 2px 2px 0px 0px #432a0f;
}
.unique-btn-yu:active {
  /* background-color: #E5A62A;
    font-family: 'gensen-M';
    font-size: 14px;
    line-height: 125%; */
  box-shadow: none;
}
.unique-btn-yu:focus {
  box-shadow: none;
  background-color: #e5a62a;
}

.btn_disabled_ba {
  cursor: not-allowed;
  opacity: 0.6;
  background-color: white;
  color: var(--color-brown-dark);
  border: var(--color-brown-dark) 2px solid;
}

.btn_disabled_ba:hover {
  box-shadow: none !important;
}

/*------------ 手機前往付款按鈕 -------------*/
.mdunique-btn-yu {
  cursor: pointer;
}
.mdunique-nextbutton-yu .mdunique-btn-yu {
  /* border: 1px solid #432A0F; */
  margin: 20px;
  background-color: #e5a62a;
  font-family: "gensen-M";
  font-size: 14px;
  line-height: 125%;
  width: 275px;
  height: 41px;
  border-radius: 8px;
  box-shadow: none;
}
.mdunique-btn-yu:active {
  /* background-color: #E5A62A;
    font-family: 'gensen-M';
    font-size: 14px;
    line-height: 125%; */
  box-shadow: none;
}
.mdunique-btn-yu:focus {
  box-shadow: none;
  background-color: #e5a62a;
}
