/*-----------------購物車訂單的進度條 ----------------- */
 /* *{
    border: 1px solid #432A0F;
} */
*{
    margin: 0;
    padding: 0;
  }
.line-box-yu{
    /* margin-top: 88px auto 0 auto; */
    margin: 0 auto;
    padding-top: 88px;
    border-bottom:1px solid #432A0F ;
    width: 1200px;
}
.progress-bar-yu{
    margin-top: -24px;
    margin-bottom: 88px;
    font-size: var(--font-h5-20)
    
}
.circle-1-yu{
    padding:0 24px;
    align-items: center;
    background-color: #fff;
}
.circle-2-yu{
    padding:0 24px;
    align-items: center;
    background-color: #fff;
}
.circle-3-yu{
    padding:0 24px;
    align-items: center;
    background-color: #fff;
}

.circle-light{
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #E5A62A;
    border-radius: 50%;
}
.circle{
    position: relative;
    width: 40px;
    height: 40px;
    background-color: rgba(229, 167, 42, 0.3);
    border-radius: 50%;
}
.circle-light .page-light-number{
    color: #fff;
}
.circle-light h5{
    color: rgba(67, 42, 15, 0.38);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.circle h5{
    color: rgba(67, 42, 15, 0.38);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.page-yu h5{
    /* border: 1px solid #000; */
    line-height: 20px;
    padding: 10px;
    text-align: center;
    color: rgba(67, 42, 15, 0.38);
}
.page-yu .page-yu-two{
    color: #432A0F;
}

/* ---------表單的寬度------(每一個表單都要用) */
#myTabContent-yu {
    max-width: 1450px;
}
/* ----------------訂單明細 --------------*/
.listinfo-yu{
    background-color: #FFFCF7;
}
.section-2-title-yu{
    background-color: var(--color-creamy);
}
.section-2-title-yu label{
    padding: 16px 0 0 0 ;
}
.listinfo-title-yu{
    background-color: var(--color-creamy);
    padding: 12px 12px;
    color: #432A0F;
}
.details-list-title-yu{
    color: #432A0F;
    padding: 24px 12px;
}
.panel-body-yu{
    padding: 24px 12px;
}
.listinfo-number-yu{
    color: #432A0F;
    padding: 24px 12px;
    margin: 0;
}
.listinfo-number-yu span {
    font-family: 'gensen-R';
    font-size: 20px;
    line-height: 140%;
    color: var(--color-red);
}
.listinfo-yu label {
    margin: 0;
    padding: 0  12px 12px 12px;
}
/* ----------下拉詳細訂單明細---------- */
.panel-title-yu{
    cursor: pointer;
    padding: 0 0 12px 12px;
}
.panel-title-yu:hover{
    color: #E5A62A;
}
.panel-title-yu:hover  svg path{
    stroke: #E5A62A;
    transform: rotateX(0deg);
}
.panel-title-yu svg path{
    transition: all 0.5s ease 0s;
    transform: rotateX(-40deg);
}
.panel-title-yu a{
    text-decoration: none;
    color: #432A0F;
}
.listinfo-detalis-title-yu{
    width: 100%;
}
.listinfo-detalis-title-yu svg{
    padding-bottom: 4px;
}
/* ---------下拉詳細訂單表格樣式---------- */
.panel-body-yu{
    padding: 0;
}
/* #listinfo-details-yu{
    padding: 28px 0;
} */
#listinfo-details-yu tbody td{
    padding: 2rem 2rem 0rem 2rem;
}
#listinfo-detalis-yu .table td{
    vertical-align: middle;
    
}
#listinfo-details-yu .thead th{
    border: none;
}
#listinfo-details-yu .thead{
    background-color: var(--color-lightcreamy);
}
#listinfo-details-yu .tbody td {
    border: none;
    vertical-align: middle;
}
#listinfo-details-yu .tbody{
    border: none;

}
/* ----- 下拉詳細訂單表格總價---------*/
.listinfo-details-totalprice-yu{
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
}

/* ----訂購人資料section----- */
.listinfo-yu{
    margin-bottom: 60px;
}

.section-1-yu{
    background-color: #FFFCF7;
    margin-bottom: 60px;
}
/* ------訂購人填寫資料------ */
.order-list-yu input , .form-group select{
    border-radius: 8px;
    border: 2px solid #432A0F;
    height: 48px;
}
.order-list-yu input.ordername-yu , input.orderphone-yu{
    width: 330px;
    height: 48px;
}
.order-list-yu .orderaddress1-yu {
    width: 110px;
    height: 48px;
    margin:0 12px 0 0;
    text-align: center;
}
.order-list-yu .orderaddress2-yu{
    width: 110px;
    height: 48px;
    margin:0 12px 0 0px;
    text-align: center;
}
.order-list-yu .orderaddress3-yu{
    width: 466px;
    height: 48px;
    margin:0 12px 0 0px;
}
.order-email-yu input{
    width: 520px;
}

/* ----收件人資料section----- */
.section-2-yu{
    background-color: #FFFCF7;
    margin-bottom: 60px;
}
/* ------收件人填寫資料------ */
.receiver-list-yu input , .form-group select{
    border-radius: 8px;
    border: 2px solid #432A0F;
    height: 48px;
}
.receiver-list-yu input.receivername-yu , input.receiverphone-yu{
    width: 330px;
    height: 48px;
}
.receiver-deliverbtn1-yu , .receiver-deliverbtn2-yu {
    margin:0 12px 0 0px;
    border-radius: 8px;
    color: #432A0F;
    border:  2px solid #432A0F;
    height: 52px;
    width: 104px;
    outline: none;
    box-shadow: none;
}
.receiver-deliverbtn1-yu:focus{
    outline: none;
    box-shadow: none;
    background-color: #E5A62A;
    color: #fff;
}
.receiver-deliverbtn1-yu:hover{
    background-color: #E5A62A;
    color: #fff;
}
.receiver-deliverbtn2-yu:focus{
    outline: none;
    box-shadow: none;
    background-color: #E5A62A;
    color: #fff;
}
.receiver-deliverbtn2-yu:hover{
    background-color: #E5A62A;
    color: #fff;
}


.unique-nextbutton-yu .unique-btn-yu:hover{
    outline: none;
    box-shadow: 4px 4px 0px 0px #432A0F;
}
.receiver-email-yu input{
    width: 520px;
}
.receiver-list-yu .receiveraddress1-yu {
    width: 110px;
    height: 48px;
    margin:0 12px 0 0;
    text-align: center;
}
.receiver-list-yu .receiveraddress2-yu{
    width: 110px;
    height: 48px;
    margin:0 12px 0 0px;
    text-align: center;
}
.section-2-yu .receiver-address-yu .receiveraddress3-yu{
    width: 466px;
    height: 48px;
    margin:0 12px 0 0px;
}

.section-3-yu{
    background-color: #FFFCF7;
    
    margin-bottom: 60px;
}


/* 信用卡樣式 */
.gridContainer {
    height: 17rem;
    display: flex;
}

.viacreditCard {
    grid-area: card;
    width: 260px;
    height: 161px;
    color: rgb(255, 255, 255);
  /* background: linear-gradient(to right, #fab937 60%, #e9a00e 90%); */
    background: linear-gradient(135deg , #4484dd 40%, #063069 90%);
    box-shadow:  6px 6px 0 #432A0F;
    margin: 28px;
    border-radius: 8px;
    justify-self: right;
    align-self: start;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template: repeat(4, 1fr)/19px repeat(4, 1fr) 19px;
    grid-template-areas: ". . . visa visa ."
    ". chip . visa visa . "
    ". no no no no ."
    ". name name name year .";
}

.viacreditCard .creditCatd > * {
    overflow: hidden;
}

.viacreditCard .visaLogo {
    grid-area: visa;
    overflow: hidden;
    justify-self: right;
}

.viacreditCard .visaLogo svg {
    height: 42px;
}

.viacreditCard .chipLogo {
    grid-area: chip;
    overflow: hidden;
    width: 38px;
    height: 30px;
    justify-self: left;
    margin-top: 10px;
}

.viacreditCard ul {
  grid-area: no;
}

.viacreditCard ul li {
  display: inline-block;
  font-size: 18px;
  letter-spacing: 2px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-shadow: 0px 0px 2pxrgba(67, 42, 15, 0.341);
  word-spacing: 3.7px;
}

.viacreditCard .viacreditCardnameyu {
  grid-area: name;
  justify-self: left;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 12.8px;
  font-weight: lighter;
  letter-spacing: 1.3px;
  padding-bottom: 5px;
  font-weight: 300;
  text-shadow: 0px 0px 2px rgba(67, 42, 15, 0.341);
}

.viacreditCard .viacreditCardyearyu {
  grid-area: year;
  justify-self: right;
  font-size: 14px;
  font-weight: lighter;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  padding-bottom: 5px;
  text-shadow: 0px 0px 2px rgba(67, 42, 15, 0.341);
}

form {
  margin: 0;
  padding: 0;
  grid-area: form;
  overflow: visible;
  width: 200px;
  display: grid;
  grid-template-areas: ". ."
 "fheading fheading"
 "fname fname"
 "fcno fcno"
 "fyear fcvv"
 "btn btn"
 ". .";
}

form input {
  position: relative;
  margin-top: -12px;
  border: 0;
  border-bottom: 1px solid rgba(67, 42, 15, 0.486);
  height: 40px;
  padding: 12px 0 0 0;
  font-size: 16px;
  background: none;
  width: 100%;
  outline: none;
  color:#432A0F;
}


form input:focus + h6 {
  color: red;
}

h6 {
  grid-area: fheading;
  font-size: 20px;
}

.inputCon {
  min-width: 0;
  min-height: 0;
  position: relative;
  color:#432A0F;
}

.inputCon:after {
  position: absolute;
  content: attr(data-top);
  top: -14px;
  left: 0;
  height: 10px;
  font-size: 12px;
  letter-spacing: .5px;
}

#paymentFormname {
  grid-area: fname;
}

#paymentFormcardNum {
  grid-area: fcno;
}

#paymentFormvalidYear {
  grid-area: fyear;
  margin-right: 13px;
}

#paymentFormcvv {
  grid-area: fcvv;
  margin-left: 13px;
}


/*------------ 前往付款按鈕 -------------*/
.que-btn-yu{
    cursor: pointer;
}
.unique-nextbutton-yu .unique-btn-yu{
    /* border: 1px solid #432A0F; */
    margin: 20px;
    background-color: #E5A62A;
    font-family: 'gensen-M';
    font-size: 14px;
    line-height: 125%;
    width: 275px;
    height: 41px;
    border-radius: 8px;
    box-shadow:none;
}
.unique-nextbutton-yu .unique-btn-yu:hover{
    outline: none;
    box-shadow: 4px 4px 0px 0px #432A0F;
}
.unique-btn-yu:active {
    /* background-color: #E5A62A;
    font-family: 'gensen-M';
    font-size: 14px;
    line-height: 125%; */
    box-shadow:none;
}
.unique-btn-yu:focus  {
    box-shadow:none;
    background-color: #E5A62A;
}