/* *{
    outline: 1px solid rgb(255, 0, 0);
} */
.pages .row {
    margin: 0;
    box-sizing: border-box;
}

.travel_search{
    width: 100%;
    height: 530px;
    background: url(./imgs/travel/T01_8.jpg) top center / cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search_bar h3{
    padding-bottom: 8px;
}

.search_bar h3 {
    color: white;
    text-align: center;
    margin: 0 auto;

}

.search_btn {
    margin: 0 auto;
    text-align: center;
}


.search_btn button {
    outline: none;
    color: #fff;
    border-radius: 30px;
    border: 1px solid #432A0F;
    background-color: #E5A62A;
    padding: 4px 16px;
    margin-top: 8px;
}
.search_btn button:focus{
    outline: none;
    border: none;
}
.search_btn button:hover{
    color: var(--color-text87);
}
.input_search button{
    border: none;
    background: transparent;
}
.input_search button:focus{
    outline: none;
    border: none;
}
/* input{
    border-radius: 8px;
    margin: 0 0 8px;
} */
.container-1 {
    width: 250px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.container-1 input#search {
    width: 250px;
    height: 40px;
    background: white;
    border: none;
    font-size: 10pt;
    float: left;
    color: #432A0F;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /* margin: 8px; */
}

.container-1 .icon {
    position: absolute;
    top: 8px;
    left: 13px;
    /* margin-left: 20px;
    margin-top: 17px; */
    z-index: 1;
    color: #432A0F;
}

.btn {
    color: white;
}



/* -----------------------------搜尋結束-------------------------------- */
.sort {
    margin: 30px;
}

.travel_sort a {
    /* padding: 8px; */
    margin: 8px;
    text-decoration: none;
    color: var(--color-text87);
}
.travel_sort a:hover {
    color: var(--color-orange);
}
.travel_sort a:focus {
    color: var(--color-orange);
}
.travel_sort a.sort_active{
    color: var(--color-orange);
}
.travel_section input[type=checkbox]:checked {
    background: var(--color-yellow);
    color: #fff;
}

.travel_cate{
    padding-bottom: 20px;
    color: var(--color-text87);

}

.aside .col{
    width: 200px;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 10%;
}


/* ----------側邊攔篩選樣式------- */

.btncolor_default{
    color: var(--color-text87) !important;
}
.btncolor_default:hover{
    color: var(--color-yellow) !important;
}
.btncolor_active{
    color: var(--color-yellow) !important;
}

.travel_section a{
    color: #432A0F;
    text-decoration: none;
}
.travel_section a:hover{    
    color: var(--color-yellow);
}

.list-unstyled a{
    color: #432A0F;
    text-decoration: none;
}




/* -------上方排序---------------- */
a.sort_active{
    color: var(--color-orange);
}









/* 手機版排序 */
.travel_cate_mb{
    color: var(--color-text87);

}
.travel_sortbtn_mb button.tsbtnmbb{
    border: 2px solid var(--color-text60);
    border-radius: 8px;
    padding: 4px;
    background-color: var(--color-lightcreamy);
    color: var(--color-text87);
}
.travel_sortbtn_mb button.tsmbactive{
    /* border: 2px solid var(--color-text60) !important; */
    /* border-radius: 8px; */
    background-color: var(--color-yellow);
    /* color: var(--color-text87); */

}
.travel_sortbtn_mb button{
    outline: none;
}
/* -----------------------------價格篩選----------------------------- */
.filter-content__element {
    width: 100%;
    padding: 60px 0 0;

}

.filter-content__element h5 {
    font-size: 20px;
    color: var(--color-text87);
}

.filter-element-content .filter-range-values {
    width: 100%;
    margin-bottom: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 0.8rem;
    font-size: 0.75rem;
    color: var(--color-red);
}

.filter-element-content .filter-range-values .range-1-value,
.filter-element-content .filter-range-values .range-2-value {
    position: absolute;
    top: 0;
}

.filter-element-content .filter-range-values .range-1-value {
    left: 0;
}

.filter-element-content .filter-range-values .range-2-value {
    right: 0;
}

.filter-element-content .filter-range-content {
    position: relative;
    width: 100%;
}

.filter-element-content .filter-range-content input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    pointer-events: none;
    background-color: transparent;
}

.filter-element-content .filter-range-content .filter-range-1 {
    left: -2px;
}

.filter-element-content .filter-range-content .filter-range-track {
    width: 100%;
    height: 2px;
    background: var(--color-orange);
    position: absolute;
    top: 0;
    bottom: 0;
}

.filter-element-content .filter-range-content input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 1px;
}

.filter-element-content .filter-range-content input[type="range"]::-moz-range-track {
    -moz-appearance: none;
    height: 1px;
}

.filter-element-content .filter-range-content input[type="range"]::-ms-track {
    appearance: none;
    height: 1px;
}

.filter-element-content .filter-range-content input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border: 2px solid var(--color-orange);
    background: var(--color-orange);
    border-radius: 50%;
    pointer-events: auto;
    margin-top: -7.5px;
}

.filter-element-content .filter-range-content input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border-radius: 50%;
    background: var(--color-orange);
    pointer-events: auto;
}

.filter-element-content .filter-range-content input[type="range"]::-ms-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border-radius: 50%;
    background: var(--color-orange);
    pointer-events: auto;
}

/* -------------------------行程卡片-------------------------- */
.travel_list{ 
    justify-content: flex-start;
}
.travel_list .row{
    flex-direction: column;
}
.card_row {
    justify-content: flex-start;
    border-radius: 8px;
    background-color: #FFF6E9;
    overflow: hidden;
}

.webkitlineYu{
    overflow: hidden;
    /* border: 1px solid #000 !important; */
    width: 85%;
    padding-top: 12px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.t_img{
    height: 260px;
}
.t_img img{
    /* position: relative; */
    /* width: 400px; */
    height: 100%;
}
.card-body{
    /* position: relative; */
    box-sizing: border-box;
    /* padding: 30px; */
    margin: 0 auto;
}
/* .card-body{
    padding: 12px 60px;
} */
@media screen and (max-width:768px){
    .card-body{
        padding: 20px 20px 10px;
    }
    .t_card{
        /* width: 100px; */
        width: 100%;
    }
    .mdpriceYu{
        padding-bottom: 12px;
        width: 100%;

    }
    .travel_dateYu{
        width: 100px;
        /* border: 1px solid #CD562F; */
    }
    .webkitlineYu{
        overflow: hidden;
        /* border: 1px solid #000; */
        width: 100%; 
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .card_row {
        background-color: #ffffff;
        box-shadow: 0px 0px 8px var(--color-text38);
    }
    .icon_heart{
        position: absolute;
        right: 0;
        bottom: 200%;
        stroke: #fff;
        cursor: pointer;
        z-index: 9999999;
    
        }
        .icon_fivestar{
            width: 18px;
            height: 18px;
            background: url(./imgs/product/star.png);
            }
}
/* .card-body_mb{
    padding: 12px;
} */
.card_title .icon_heart{
    z-index: 999999;
    position: absolute;
}
.card-body .row{
    flex-direction: column;
}
.card_title{
    /* padding-bottom: 20px; */
    position: relative;

}
/* .card_title_mb{
    padding-bottom: 8px;
} */
.card_title a{
    text-decoration: none;
}
.card-text{
    color: var(--color-text100);
  margin: auto 0;
    /* border: 1px solid #000; */
}

.card_small small{
    color: var(--color-text60);
}

.card_intro_mb p{
    margin: 0;
    padding-bottom: 10px;
}
.card-text span{
    color: var(--color-text60);
}
.p_img{
    position: relative;
}

@media screen and (min-width:768px){
    .icon_heart{
        position: absolute;
        left: 95%;
        bottom: 10%;
        stroke: #432A0F;
        cursor: pointer;

    }
    .icon_fivestar{
        width: 92px;
        height: 18px;
        background: url(./imgs/product/fivestar.png);

    }
    .price{
        margin-bottom: 24px;
    }
    .card_title{
        padding: 20px 0 0 26px;

    }
    .card_under{
        padding: 0 0 0 26px;
    }
}
/* @media screen and (max-width:768px){

} */
/* 
@media screen and (max-width:768px){

} */
.icon_fivestar i{
    color: var(--color-yellow);
}
.color{
    stroke: #432A0F;
    fill: #CD562F;
}
.pl_row {
    margin: 36px auto;
}
.travel_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;

}
.travel_list a{
    text-decoration: none;
    color: var(--color-text87);
}
.t_card{
    padding-bottom: 32px;
}


/* @media screen and (max-width:768px) {
    .card-body{
        /* margin: 0; */
        /* padding: 16px 16px;
    } */
    


.card_under{
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}
.card_under .price{
    justify-content: flex-end;
    align-self: baseline;
}
.card_under .price::before{
    content:"NT$ ";
}
.card_under .price::after{
    content:" /人 ";
    font-size: 8px;
}

/* -------------------上下頁按鈕------------------ */
/* ------------------頁數按鈕----------------- */
.pages{
    margin: 3rem;
}
.pages nav li a{
    padding: 10px 16px;
    margin: 8px;
    background-color: #fff;
    border: 1px solid var(--color-text38);
    border-radius: 4px;
    color: var(--color-text38);
}
.pages nav li a:hover{
    border: 1px solid var(--color-text87);
    color: var(--color-text87);
    background-color: #fff;
}
.pages .page-item.active .page-link{
    border: 1px solid var(--color-text87);
    color: #fff;
    background-color: var(--color-orange);
}
.pages .row{
    justify-content: center;
}

/* ------------------未登入提醒視窗----------------- */
.notlogin{
    /* margin: 0 auto; */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(47, 47, 47, 0.635);
    
}

.alert{
    overflow: hidden;
    flex-direction: column;
    width: 500px;
    height: 300px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.75);
    /* position: relative; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    backdrop-filter: blur(5px);
    z-index: 2;
}
.alert_head{
    width: 100%;
    height: 60px;
    background-color: var(--color-yellow);
    position: absolute;
    top: 0;
}
.alert_head i{
    font-size: 2.5rem;
    line-height: 60px;
    padding-left: 16px;
    color: var(--color-text100);
}
.alert_title{
    text-align: center;
    color: var(--color-text100);
    padding-top: 30px;
    /* line-height: 250px; */
    /* position: absolute;
    left: 130px;
    bottom: 180px; */
}
.btn_ok{
    /* margin: 0 auto; */
    text-align: center;
    margin-top: 15px;
    padding-top: 30px;
}
.alert .btn_ok button{
    /* position: absolute;
    left: 200px;
    bottom: 100px; */
    
    color: var(--color-text100);
    padding: 8px 16px;
    border-radius: 16px;
    background-color: var(--color-yellow);
}
.alert_img{
    width: 100px;
    position: absolute;
    left: 10px;
    bottom: -10px;
}
