/* *{
    outline: 1px solid #fff;
} */
.row {
    margin: 0;
    box-sizing: border-box;
}

.travel_search{
    width: 100%;
    height: 530px;
    background: url(./imgs/travel/T01_8.jpg) top center / cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search_bar h3{
    padding-bottom: 8px;
}
.search_btn button{
    margin-top: 8px;
}
.search_bar h3 {
    color: white;
    text-align: center;
    margin: 0 auto;

}

.search_btn {
    margin: 0 auto;
    text-align: center;
}
.search_btn button{
    color: #fff;
}
.search_btn button:hover{
    color: var(--color-text87);
}

/* input{
    border-radius: 8px;
    margin: 0 0 8px;
} */
.container-1 {
    width: 250px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.container-1 input#search {
    width: 250px;
    height: 40px;
    background: white;
    border: none;
    font-size: 10pt;
    float: left;
    color: #432A0F;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /* margin: 8px; */
}

.container-1 .icon {
    position: absolute;
    top: 10px;
    left: 10px;
    /* margin-left: 20px;
    margin-top: 17px; */
    z-index: 1;
    color: #432A0F;
}

.btn {
    color: white;
}

.search_btn button {
    border-radius: 30px;
    border: 1px solid #432A0F;
    background-color: #E5A62A;
    padding: 4px 16px;
}

/* -----------------------------搜尋結束-------------------------------- */
.sort {
    margin: 30px;
}

.travel_sort a {
    /* padding: 8px; */
    margin: 8px;
    text-decoration: none;
    color: var(--color-text60);
}
.travel_sort a:hover {
    color: var(--color-text87);
}
.travel_sort a:focus {
    color: var(--color-text87);
}

/* .travel_section {
    display: flex;
} */
.travel_cate{
    padding-bottom: 20px;
}
.form-check:hover{
    color: var(--color-orange);
}
.aside .col{
    width: 200px;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 10%;
}
/* 手機版排序 */
.travel_sortbtn_mb button{
    border: 2px solid var(--color-text60);
    border-radius: 8px;
    padding: 4px;
    background-color: var(--color-lightcreamy);
    color: var(--color-text87);
}
.travel_sortbtn_mb:hover button{
    background-color: var(--color-yellow);
    color: var(--color-text87);

}
/* .travel_cate_mb{
    background-color: var(--color-creamy-light);
} */
/* -----------------------------價格篩選----------------------------- */
.filter-content__element {
    width: 100%;
    padding: 60px 0 0;

}

.filter-content__element h5 {
    font-size: 20px;
    color: var(--color-text87);
}

.filter-element-content .filter-range-values {
    width: 100%;
    margin-bottom: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 0.8rem;
    font-size: 0.75rem;
    color: var(--color-red);
}

.filter-element-content .filter-range-values .range-1-value,
.filter-element-content .filter-range-values .range-2-value {
    position: absolute;
    top: 0;
}

.filter-element-content .filter-range-values .range-1-value {
    left: 0;
}

.filter-element-content .filter-range-values .range-2-value {
    right: 0;
}

.filter-element-content .filter-range-content {
    position: relative;
    width: 100%;
}

.filter-element-content .filter-range-content input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    pointer-events: none;
    background-color: transparent;
}

.filter-element-content .filter-range-content .filter-range-1 {
    left: -2px;
}

.filter-element-content .filter-range-content .filter-range-track {
    width: 100%;
    height: 2px;
    background: var(--color-orange);
    position: absolute;
    top: 0;
    bottom: 0;
}

.filter-element-content .filter-range-content input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 1px;
}

.filter-element-content .filter-range-content input[type="range"]::-moz-range-track {
    -moz-appearance: none;
    height: 1px;
}

.filter-element-content .filter-range-content input[type="range"]::-ms-track {
    appearance: none;
    height: 1px;
}

.filter-element-content .filter-range-content input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border: 2px solid var(--color-orange);
    background: var(--color-orange);
    border-radius: 50%;
    pointer-events: auto;
    margin-top: -7.5px;
}

.filter-element-content .filter-range-content input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border-radius: 50%;
    background: var(--color-orange);
    pointer-events: auto;
}

.filter-element-content .filter-range-content input[type="range"]::-ms-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border-radius: 50%;
    background: var(--color-orange);
    pointer-events: auto;
}

/* -------------------------行程卡片-------------------------- */
.travel_list .row{
    flex-direction: column;
}
.card_row {
    border-radius: 8px;
    background-color: var(--color-lightcreamy);
}
.t_card_mb{
    margin-top: 24px;
}
.t_img{
    position: relative;
    width: 400px;
}
.t_img_mb{
    width: 300px;
}
.card-body{
    position: relative;
    box-sizing: border-box;
    padding: 40px;
    margin: 0 auto;
}
.card-body_mb{
    padding: 12px;
}
.card-body .row{
    flex-direction: column;
}
.card_title{
    padding-bottom: 20px;
}
.card_title_mb{
    padding-bottom: 8px;
}
.card_title a{
    text-decoration: none;
}
.card-text{
    color: var(--color-text100);
}
.card_small{
    margin-bottom: 20px;
}
.card_small_mb{
    padding-bottom: 8px;
}
.card_small small{
    color: var(--color-text60);
}
.card_intro_mb p{
    margin: 0;
    padding-bottom: 10px;
}
.card-text span{
    color: var(--color-text60);
}
.p_img{
    position: relative;
}
.icon_heart_pc{
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
}
.t_img_mb{
    position: relative;
}
.icon_heart_mb{
    position: absolute;
    right: 20px;
    bottom: 15px;
    cursor: pointer;
}
.icon_fivestar i{
    color: var(--color-yellow);
}
.color{
    stroke: #432A0F;
    fill: #CD562F;
}
.pl_row {
    margin: 36px auto;
}
.travel_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}
.travel_list a{
    text-decoration: none;
    color: var(--color-text87);
}
.t_card{
    padding-bottom: 32px;
}
.card-body .row{
    /* margin: 0; */
    padding: 4px 0;
}

.card_under{
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.row .price{
    justify-content: flex-end;
}
.row .price::before{
    content:"NT$ ";
}
.row .price::after{
    content:"/人";
    font-size: 14px;
}
.icon_fire{
    width: 18px;
    margin: 0;
}
.icon_fire i{
    color: var(--color-orange);
}
/* -------------------上下頁按鈕------------------ */
.pages{
    margin: 3rem;
}
.pages .row{
    justify-content: center;
}
.pages .row .btn{
    padding: 4px 16px;
    margin: 4px;
    background-color: #fff;
    border: 1px solid var(--color-text38);

}
.btn a{
    text-decoration: none;
    color: var(--color-text38);
}
.btn a:focus, .btn a:hover{
    color: var(--color-text87);
}
.btn:focus, .btn:hover{
    border: 1px solid var(--color-text87);
}

/* ------------------未登入提醒視窗----------------- */
.notlogin{
    /* margin: 0 auto; */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(47, 47, 47, 0.635);
    
}

.alert{
    overflow: hidden;
    flex-direction: column;
    width: 500px;
    height: 300px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.75);
    /* position: relative; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    backdrop-filter: blur(5px);
    z-index: 2;
}
.alert_head{
    width: 100%;
    height: 60px;
    background-color: var(--color-yellow);
    position: absolute;
    top: 0;
}
.alert_head i{
    font-size: 2.5rem;
    line-height: 60px;
    padding-left: 16px;
    color: var(--color-text100);
}
.alert_title{
    text-align: center;
    color: var(--color-text100);
    padding-top: 30px;
    /* line-height: 250px; */
    /* position: absolute;
    left: 130px;
    bottom: 180px; */
}
.btn_ok{
    /* margin: 0 auto; */
    text-align: center;
    margin-top: 15px;
    padding-top: 30px;
}
.alert .btn_ok button{
    /* position: absolute;
    left: 200px;
    bottom: 100px; */
    
    color: var(--color-text100);
    padding: 8px 16px;
    border-radius: 16px;
    background-color: var(--color-yellow);
}
.alert_img{
    width: 100px;
    position: absolute;
    left: 10px;
    bottom: -10px;
}
